<!-- favicons-->
<link rel="apple-touch-icon" sizes="57x57" href="https://toybreaker.github.io/liquideye/apple-touch-icon-57x57.png?v=3">
<link rel="apple-touch-icon" sizes="60x60" href="https://toybreaker.github.io/liquideye/apple-touch-icon-60x60.png?v=3">
<link rel="apple-touch-icon" sizes="72x72" href="https://toybreaker.github.io/liquideye/apple-touch-icon-72x72.png?v=3">
<link rel="apple-touch-icon" sizes="76x76" href="https://toybreaker.github.io/liquideye/apple-touch-icon-76x76.png?v=3">
<link rel="apple-touch-icon" sizes="114x114" href="https://toybreaker.github.io/liquideye/apple-touch-icon-114x114.png?v=3">
<link rel="apple-touch-icon" sizes="120x120" href="https://toybreaker.github.io/liquideye/apple-touch-icon-120x120.png?v=3">
<link rel="apple-touch-icon" sizes="144x144" href="https://toybreaker.github.io/liquideye/apple-touch-icon-144x144.png?v=3">
<link rel="apple-touch-icon" sizes="152x152" href="https://toybreaker.github.io/liquideye/apple-touch-icon-152x152.png?v=3">
<link rel="apple-touch-icon" sizes="180x180" href="https://toybreaker.github.io/liquideye/apple-touch-icon-180x180.png?v=3">
<link rel="icon" type="image/png" href="https://toybreaker.github.io/liquideye/favicon-32x32.png?v=3" sizes="32x32">
<link rel="icon" type="image/png" href="https://toybreaker.github.io/liquideye/favicon-194x194.png?v=3" sizes="194x194">
<link rel="icon" type="image/png" href="https://toybreaker.github.io/liquideye/android-chrome-192x192.png?v=3" sizes="192x192">
<link rel="icon" type="image/png" href="https://toybreaker.github.io/liquideye/favicon-16x16.png?v=3" sizes="16x16">
<link rel="manifest" href="https://toybreaker.github.io/liquideye/manifest.json?v=3">
<link rel="mask-icon" href="https://toybreaker.github.io/liquideye/safari-pinned-tab.svg?v=3" color="#33a0ff">
<link rel="shortcut icon" href="https://toybreaker.github.io/liquideye/favicon.ico?v=3">
<meta name="apple-mobile-web-app-title" content="Liquideye">
<meta name="application-name" content="Liquideye">
<meta name="msapplication-TileColor" content="#33a0ff">
<meta name="msapplication-TileImage" content="https://toybreaker.github.io/liquideye/mstile-144x144.png?v=3">
<meta name="msapplication-config" content="https://toybreaker.github.io/liquideye/browserconfig.xml?v=3">
<meta name="theme-color" content="#33a0ff">
