<footer class="footer">
  <div class="container">

    <p class="footer_logo paragraph">
      {% include svg/use.html id="icn--liquideye_logo" class="liquideye_logo" %}
    </p>

    <div class="inner">

      <div class="column">
        <div class="column_title">Products</div>

        {% for menuitem in site.data.footer_menu_products %}
          {% if page.url contains menuitem.link %}
            <p>
              <a href="{{ site.baseurl }}/{{menuitem.link}}/" class="active">
                <span class="capitalize">{{ menuitem.name }}</span>
              </a>
            </p>
          {% else %}
            <p>
              <a href="{{ site.baseurl }}/{{menuitem.link}}/">
                <span class="capitalize">{{ menuitem.name }}</span>
              </a>
            </p>
          {% endif %}
        {% endfor %}
      </div>

      <div class="column">

        <div class="column_title">About Liquid Eye</div>

        {% for menuitem in site.data.footer_menu_about_us %}
          {% if page.url contains menuitem.link %}
            <p>
              <a href="{{ site.baseurl }}/{{menuitem.link}}/" class="active">
                <span class="capitalize">{{ menuitem.name }}</span>
              </a>
            </p>
          {% else %}
            <p>
              <a href="{{ site.baseurl }}/{{menuitem.link}}/">
                <span class="capitalize">{{ menuitem.name }}</span>
              </a>
            </p>
          {% endif %}
        {% endfor %}

      </div>

      <div class="column contact">
        <div class="column_title">Get in touch</div>

        <p class="mail_link paragraph">
          <a class="" title="{{ site.instagram }}" href="{{ site.baseurl }}/contact/">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="email">
              <use xlink:href="#icn--email"></use>
            </svg>
            <span>Contact</span>
          </a>
        </p>

        <p class="instagram_link paragraph">
          <a class="" title="{{ site.instagram }}" href="https://instagram.com/{{ site.instagram }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="instagram_logo">
              <use xlink:href="#icn--instagram"></use>
            </svg>
            <span>{{ site.instagram }}</span>
          </a>
        </p>

        <p class="facebook paragraph">
          <a class="" title="{{ site.facebook }}" href="https://facebook.com/{{ site.facebook }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="facebook">
              <use xlink:href="#icn--facebook"></use>
            </svg>
            <span>{{ site.facebook }}</span>
          </a>
        </p>

        <p class="youtube paragraph">
          <a class="" title="{{ site.google.youtube }}" href="https://www.youtube.com/user/{{ site.google.youtube }}/videos">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="youtube">
              <use xlink:href="#icn--youtube"></use>
            </svg>
            <span>{{ site.google.youtube }}</span>
          </a>
        </p>

        <p class="twitter paragraph">
          <a class="" title="{{ site.twitter_username }}" href="https://twitter.com/{{ site.twitter_username }}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="twitter">
              <use xlink:href="#icn--twitter"></use>
            </svg>
            <span>{{ site.twitter_username }}</span>
          </a>
        </p>

        <p class="qr paragraph" title="liquideye.co">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="qr_liquideye_co">
              <use xlink:href="#icn--qr_liquideye_co"></use>
            </svg>
          </a>
        </p>

      </div>

    </div>

    <div class="foot">

      <p class="copyright">
        <span>© 2017 {{ site.title }}.</span>
        <span>All rights reserved.</span>
        </span>
        <a class="powered" href="http://junglestar.org">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="junglestar">
            <use xlink:href="#icn--junglestar"></use>
          </svg>
          Powered by Junglestar
          </a>
        </span>
      </p>

    </div>

  </div>
</footer>
