<div id="title" class="clearfix">
 <nav>
  <ul id="menu">
   <li><a href="{{site.baseurl}}/photos/" title="Projects">Projects</a></li>
   <li class="tab" title="Architecture">Architecture</li>
   <li class="tab" title="Interiors">Interiors</li>
   <li class="tab" title="Landscaping">Landscaping</li>
   <li class="tab" title="Media reviews">Reviews</li>
   <li class="tab" title="Contact">Contact</li>
  </ul>
  <a class="logo" href="{{site.baseurl}}" title="home"><h1>Landi Designs</h1></a>
 </nav>
</div>
