<!-- <ul class="menu group">

  {% for menuitem in site.data.menu %}
    {% if page.url contains menuitem.link %}
      <li>
        <a href="{{ site.baseurl }}/{{menuitem.name}}/" class="active">
          <span>{{ menuitem.name }}</span>
        </a>
      </li>
    {% else %}
      <li>
        <a href="{{ site.baseurl }}/{{menuitem.link}}/">
          <span>{{ menuitem.name }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}

</ul> -->


<div id="title" class="clearfix">
 <nav>
  <ul id="menu">
   <li><a href="photos.htm" title="Projects">Projects</a></li>
   <li class="tab" title="Architecture">Architecture</li>
   <li class="tab" title="Interiors">Interiors</li>
   <li class="tab" title="Landscaping">Landscaping</li>
   <li class="tab" title="Media reviews">Reviews</li>
   <li class="tab" title="Contact">Contact</li>
  </ul>
  <a class="logo" href="index.htm" title="home"><h1>Landi Designs</h1></a>
 </nav>
</div>
