
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  background-color: $brand_blue;
  overflow-x: hidden!important;

  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $base-font-size-tiny;
  @include media( "screen", ">minWidth") {font-size: $base-font-size-min;}
  @include media( "screen", ">bp1Width") {font-size: $base-font-size-bp1;}
  @include media( "screen", ">maxWidth") {font-size: $base-font-size-max;}

  line-height: $base-line-height;
  font-weight: 500;
  @include media( "screen", ">minWidth") { font-weight: 400;}

}

body {
  background-color: $body_color;
  overflow-x: hidden;
}

body, input, textarea, select, button {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings:'liga','kern';
  direction: ltr;
  text-align: left;
}

a {
  color: $link-color;
  text-decoration: none;
}

a.link_underline {
  border-bottom: 3px solid $underline_link_color;
  box-shadow: inset 0 -5px 0 $underline_link_color;
  /* box shadow adds additional thickness*/
  color: inherit;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);

  &:hover,
  &:focus {
    background: $underline_link_color;
  }
  /* `:visited` state is usefull!*/
  &:visited {}
  strong {
    color: inherit;
  }
}



input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus { outline: -webkit-focus-ring-color auto 0px; }
}


p {
  margin-top: 0;
  padding-bottom: 12px;
}

strong {
  font-weight: 600;
}


ul, ol, dl {
  margin-top: 0;
  margin-bottom: $vertical-space-small;
  list-style-type: none;
}
dt {font-weight: 400;}
dd {margin-bottom: $vertical-space-small;}
hr {
  position: relative;
  margin: $vertical-space 0;
  border: 0;
  border-bottom: 1px solid $hr_color;
}

/*Quotes*/
blockquote {
  padding: 0;
  padding-left: $vertical-space-small;
  margin: 0;
  color: #7a7a7a;
  border-left: .25rem solid ;
  p:last-child {
    margin-bottom: 0;
  }
}

/* All images... hum!*/
img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

/* Tables*/
table {
  margin-bottom: $vertical-space-small;
  width: 100%;
  border: 1px solid ;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid ;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: white;
}

.hide {display: none;}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear: both; }


.post-list { list-style-type: none; }
.post-date { display:none; }


/* Headings*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  @include media( "screen", ">minWidth") {
    font-weight: 300;
  }
  line-height: 1.25;
  letter-spacing: -.025rem;
  color: $black;
  padding-top: $vertical-space;
  padding-bottom: $vertical-space-small;
}

h1 {
  font-size: 36px;
  line-height: 1.125;
  @include media( "screen", ">minWidth") {font-size: 40px;}
  @include media( "screen", ">bp1Width") {font-size: 44px;}
}
h2 {
  font-size: 26px;
  @include media( "screen", ">minWidth") {font-size: 28px;}
  @include media( "screen", ">bp1Width") {font-size: 30px;}
}
h3 {
  font-size: 24px;
  @include media( "screen", ">minWidth") {font-size: 26px;}
  @include media( "screen", ">bp1Width") {font-size: 28px;}
}
h4, h5, h6 {
  font-size: 20px;
  @include media( "screen", ">bp1Width") {font-size: 22px;}
}

.bungkus {
  height: 100%;
  position: relative;
  padding: 0;
  .content {
    border-top: 0 none;
    margin-top: 0;
  }
}

.colored_background {
  background-color: $body_bg_color;
}

.container {
  margin: 0;
  padding: 0;
}

.content {
  max-width: 1100px;
	margin: 0 auto;
  padding-top: $vertical-space-small;
  padding-bottom: $vertical-space;
  @include media( "screen", ">bp1Width") {
    border-top: 1px solid $hr_color;
  }
}

.side_padded {
  padding-left: $vertical-space;
  padding-right: $vertical-space;
}

.imagecontent {
  margin: 0 auto;
  max-width: none;
  .about & {
    max-width: 1000px;
    margin-top: $vertical-space;
  }
}
.center {
  text-align: center;
}

.center_on_small {
  text-align: center;
  @include media( "screen", ">minWidth") {
    text-align: left;
  }
  p {text-align: center;}
}

.hide_on_small {
  display: none;
  @include media( "screen", ">bp1Width") {
    display: inline-block;
  }
}

.text_centered {
  width: 100%;
  text-align: center;
}

br.maybe {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}


.inline {
  display: inline;
}
