@charset "UTF-8";

/*Vegas stuff*/
/*disabled - render like shit on mobiles:*/
/*.vegas-overlay { opacity:0.5;  background-image: url(../overlays/02.png); z-index:-1;}*/

#thumbnails {
	display: none;
}

#pointer {
	border: 2px solid #F30;
	cursor: pointer;
	height: 75px;
	left: -100px;
	margin: 3px;
	position: absolute;
	width: 112px;
}

#flash {
	background: #FFF;
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
}

#pause {
	display: none;
	font: 22px;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 80%;
	left: 10%;
}

#pause a {
	color: #FFF;
	height: 30px;
	left: 30%;
	position: absolute;
	text-transform: uppercase;
	bottom: 7px;
	width: 500px;
	z-index: 100;
	opacity: 0.6;
}

#pause_off {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
}

/*new stuff for next and previous*/
#next {
	background: url("../p/arrows.png") no-repeat right bottom;
	position: absolute;
	width: 10%;
	height: 30px;
	right: 10px;
	top: 45%;
	z-index: -10;
}

#previous {
	background: url("../p/arrows.png") no-repeat left top;
	position: absolute;
	width: 10%;
	height: 30px;
	left: 10px;
	top: 45%;
	z-index: -10;
}

/*arrows appear only when hover	*/
body:hover #previous {
	z-index: 100;
}

body:hover #next {
	z-index: 100;
}

/*when on mobile arrows are shown by default - no hover */
.touch #next,
.touch #previous {
	z-index: 100;
}


/*rok-ma-style*/
body {
	background: #000;
	color: #FFF;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav a {
	text-decoration: none;
	color: #888;
}

nav a:hover {
	text-decoration: none!important;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none!important;
	color: #777;
}

a.rok {
	color: #aaa;
	padding: 2px 0 2px 4px;
}

a.rok:hover {
	text-decoration: none!important;
	color: green;
	background-color: black;
}

a.rok:hover:before {
	content: "Landi Designs website was ";
}

img {
	border: 0;
}

h1 {
	color: #fff;
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 0.3em 0.5em 0.5em 0;
	-webkit-user-select: none;
	-moz-user-select: none;
}

p {
	margin: 0.5em 0;
}

a.logo,
a.logo h1 {
	color: #91d4fa;
}

a.logo h1:hover,
a.logo:hover {
	color: #cde6f5;
}

#title {
	background: #000;
	background: rgba(0, 0, 0, .6);
	bottom: 0;
	font: 16px "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 28px!important;
	position: fixed;
	right: 0;
	text-align: right;
	width: 100%;
	z-index: 15;
}

.photos #title h1 {
	font: 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 8px 0 14px 8px;
	padding: 0 6px 0 0;
	text-align: left;
	float: left;
}

.photos #title h1:before {
	content: "Project: ";
	font-size: 90%;
	opacity: 0.7;
}

.photos #title a {
	margin: 8px 0.3em 14px 0;
	padding: 0 6px 0 0;
	font-size: 28px;
	line-height: 40px;
}

.tab p {
	color: #FFF;
	padding: 4px 0;
	font-size: 18px;
}

p.title {
	font-size: 22px;
	color: #FFF;
	padding: 4px 0;
	text-shadow: 1px 1px 2px #000000;
}

.lined {
	border-bottom: #999 1px solid!important;
	margin: 0 0 2px;
}

.lined p {
	font-size: 0.95em;
	line-height: 1em;
}

.lined p em {
	font-size: 0.8em;
	line-height: 0.95em;
}

.lined a p {
	float: left;
}

.download:hover a p {
	color: #91D4FA;
}

.download {
	position: relative;
}

.download:hover:before {
	content: url("../p/download.png");
	height: 30px;
	position: absolute;
	top: 10px;
	right: -50px;
	z-index: 0;
	display: inline-block;
}

/****box on/off stuff***/
ul#menu {
	list-style: none;
	display: block;
	text-align: left;
	z-index: 10;
	padding: 0;
	margin: 0;
}

#menu li.current_page {
	color: #fff!important;
}

#menu li {
	float: left;
	width: auto;
	cursor: pointer;
	cursor: hand;
	padding: 1px 4px;
	margin: 0 3px;
	color: #888;
}

#menu li.mouseover {
	color: #fff;
}

#menu li.mouseout {
	color: #888;
}

#menu li.selected {
	color: #fff;
}

.parent {
	position: relative;
	top: 20px;
	display: block;
	width: 70%;
	margin: 2em auto;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.boxBody div.parent {
	display: none;
}

.boxBody div.show {
	display: block;
}

.boxBody div ul {
	margin: 0 10px 0 25px;
	padding: 0;
	width: 190px;
	list-style-image: url("../images/arrow.gif");
}

.boxBody div li {
	border-bottom: 1px dotted #8e8e8e;
	padding: 4px 0;
	cursor: hand;
	cursor: pointer;
}

.boxBody div ul li.last {
	border-bottom: none;
}

.boxBody div li span {
	font-size: 8px;
	font-style: italic;
	color: #888;
}

#tabwrap {
	margin-bottom: 400px;
	max-width: 680px;
}

.RKMclose_button {
	background-image: url("../p/close.png");
	background-repeat: no-repeat;
	position: relative;
	width: 30px;
	height: 30px;
	top: -30px;
	left: -30px;
}

.grey {
	text-align: right;
	font-size: 0.9em;
	display: block;
	color: #aaa!important;
	margin: 0;
	padding: 3px 0 0;
}

/* Contain floats: h5bp.com/q */
.clearfix:after,
.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}
