/*https://coolestguidesontheplanet.com/videodrome/youtube/*/

.youtubevideowrap {
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}
.video-container {
	position:relative;
	padding-bottom:56%;
	padding-top:0;
	height:0;
	overflow:hidden;
  margin-bottom: $vertical-space-small;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.youtube_title {
  margin-top: $vertical-space;
  margin-bottom: $vertical-space;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  svg {
    width: 50px;
    height: 50px;
  }
}

.youtube_block {
  background-color: lighten( $brand_blue, 30%);
  padding-top: $vertical-space;
  padding-bottom: $vertical-space;
}
