.social_links svg {
  width: 100px;
  height: 100px;
  margin: 0;
}

.footer svg:not(.liquideye_logo):not(.qr_liquideye_co),
.insta_title svg,
.us .footer svg {
  position: static;
  width: 30px;
  height: 24px;
  min-width: 30px;
  margin-right: 0;
}
.qr_liquideye_co {
 height: 100px;
}

//home_cameras postioning

.thumb_images {
  img {
    padding-bottom: $vertical-space-small;
  }
  .sony & {
    img {
      padding-top: $vertical-space;
      min-width: 80%;
      max-width: 80%;
    }
  }
  position: relative;
  svg {
    position: absolute;
    width: 30%;
    bottom: 4%;
    right: 10%;
  }
}

.thumb_images {
  .canon7dmk2,
  .nikond5200 {
    bottom: 25%;
    // right: 5%;
  }
  .nikond800,
  .canon600d {
    // right: 25%;
  }
  .sonya6000 {
    width: 35%;
  }

}
