---

---
<!DOCTYPE html>
<html lang="en">

 {% include head.html %}

 <body class="home">

  {% include header.html %}

  <div id="tabwrap">

   <div id="01" class="tab clearfix">
    <div class="boxBody">
     <div class="parent">

      <a href="{{site.baseurl}}/" title="close">
       <div class="RKMclose_button"></div>
      </a>

      <p class="title">Architecture</p>

      <p>We provide architectural design for residential and commercial spaces, characterized by modern open plan layouts, which employ natural materials and favor the interaction with the surrounding landscape.</p>

      <p>The environments are designed making the best use of the natural site and climatic conditions, sea breezes, sunlight, views to create living spaces that blend into one other and convey serenity and privacy.</p>

      <p>Environmentally sensitive approaches include the collection of rain water for domestic and gardening purposes as well as recycling of grey water.</p>

     </div>
    </div>
   </div>
   <!--/1-->

   <div id="02" class="tab">
    <div class="boxBody">
     <div class="parent">

      <a href="{{site.baseurl}}/" title="close">
       <div class="RKMclose_button"></div>
      </a>

      <p class="title">Interiors</p>

      <p> Our interior design work is informed by a desire to create innovative living solutions. We aim to design spaces that are at once relaxed and sophisticated, with muted palettes highlighted by warm colors and rich texture.</p>

      <p>Beautiful interiors require a pared-down simplicity in the design combined with well proportioned pieces of furniture, which encourage socializing and the sharing of family activities.</p>

     </div>
    </div>
   </div>
   <!--/2-->


   <div id="03" class="tab">
    <div class="boxBody">
     <div class="parent">

      <a href="{{site.baseurl}}/" title="close">
       <div class="RKMclose_button"></div>
      </a>

      <p class="title">Landscaping</p>

      <p>Our aim is to create pleasant and inviting outdoor spaces that are quick to install and easy to maintain, suitable for private villas, commercial spaces, hotels and resorts.</p>

      <p>Our designs are uncluttered and minimalist, following the tenets of Japanese aesthetic, but at the same time very lush and tropical.</p>
      <p>We believe in limiting the palette of materials and making a restrained use of plantings, landscaping larger areas with the same species to build blocks of varying texture and color.</p>

      <p>Taking into account the climatic conditions of the site, we work to deliver individually tailored and dynamic outdoor spaces that are enjoyable and practical.</p>

      <p>At night, properly positioned lighting, can dramatically increase the perception of the landscaping, therefore a lighting plan should be laid out together with garden design.</p>

     </div>
    </div>
   </div>
   <!--/3-->


   <div id="04" class="tab clearfix">

    <div class="boxBody">

     <div class="parent clearfix">

      <a href="{{site.baseurl}}/" title="close">
       <div class="RKMclose_button"></div>
      </a>

      <p class="title">Reviews</p>

      <p class="grey">2015</p>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/LandiDesigns_1512_Singapore-Tatler-Homes.pdf" title="Singapore Tatler Homes - download PDF">
        <p>Singapore Tatler Homes<br />
         <em>Author: Young Lim, Photography: Edgar Tapan</em></p>
       </a>
      </div>

      <p class="grey">2014</p>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/MuchMore-Trends-2907.pdf" title="TRENDS  Vol. 29 No. 07 - download PDF">
        <p>TRENDS Vol. 29#07 - Home &amp; Apartment Trends <br />
         <em>Author: Colleen Hawkes, Photography: Rocco Marosi</em></p>
       </a>
      </div>


      <p class="grey">2013</p>


      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/LandiDesigns_1309_Brava-Casa-Indonesia.pdf" title="B.C.Indonesia - download PDF">
        <p>Brava Casa Indonesia - Septemeber 2013<br />
         <em>Author: Evelyn Tedja, Photography: Brett Prasetyanto</em></p>
       </a>
      </div>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/IndonesiaDesign_Brennan.pdf" title="Indonesia Design - download PDF">
        <p>Indonesia Design Vol. 10#57 - August 2013<br />
         <em>Author: Dewald Haynes, Photography: Bagus Tri Laksono</em></p>
       </a>
      </div>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/BrennanHouse-Elle-Decor-Indonesia.pdf" title="Elle Decor Indonesia - download PDF">
        <p>ELLE Decoration Indonesia No. 20 - May 2013<br />
         <em>Author: Lianggono Susanto, Photography: Emanuele Brai</em></p>
       </a>
      </div>


      <p class="grey">2012</p>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/TRENDSVol28No13.pdf" title="TRENDS  Vol. 28 No. 13 - download PDF">
        <p>TRENDS Vol. 28#13 - Home &amp; Apartment Trends <br />
         <em>Author: Colleen Hawkes, Photography: Agus Pande</em></p>
       </a>
      </div>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/TRENDSVol28No14.pdf" title="TRENDS  Vol. 28 No. 14 - download PDF">
        <p>TRENDS Vol. 28#14 - Home &amp; Apartment Trends <br />
         <em>Author: Colleen Hawkes, Photography: Agus Pande </em></p>
       </a>
      </div>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/IndonesiaDesignCollectionEditionContemporaryHouses.pdf" title="Indonesia Design - download PDF">
        <p>INDONESIA DESIGN Collection - Contemporary Houses<br />
         <em>Author: Siti Nurbaiti, Photography: Agus Pande</em></p>
       </a>
      </div>


      <div class="lined clearfix">
       <!--<a target="_blank"  href="{{site.baseurl}}assets/pdf/TRENDSVol28No5.pdf" title="TRENDS Vol.28 No.5 - download PDF" >-->
       <p>TRENDS Vol. 28#5 - South East Asia Home &amp; Apartment<br />
        <em>Author: Mary Webb, Photography: Agus Pande </em></p>
       <!--</a>-->
      </div>


      <p class="grey">2011</p>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/TRENDSVol27No11.pdf" title="TRENDS Vol.27 No.11 - download PDF">
        <p>TRENDS Vol. 27#11 - Outdoor Living &amp; Holiday Home NZ <br />
         <em>Author: Mary Webb, Photography: Agus Pande</em></p>
       </a>
      </div>

      <p class="grey">2009</p>

      <div class="lined clearfix">
       <p>INDONESIA DESIGN Vol. 6#32 <br />
        <em>Author:  Siti Nurbaiti, Photography: Agus Pande</em></p>
      </div>

      <p class="grey">2008</p>

      <div class="lined download clearfix">
       <a target="_blank" href="{{site.baseurl}}assets/pdf/BaliLiving.pdf" title="Bali Living - download PDF">
        <p>BALI LIVING Periplus - Innovative Tropical Design<br />
         <em>Author: Gianni Francione with Kim Inglis, Photography: Masano Kawana</em>
        </p>
       </a>
      </div>

      <div class="lined clearfix">
       <p>FRV Fine Restaurant and Villas #4.6<br />
        <em>Author: Trauts, Photography: Agus Pande &amp; Sulthon</em>
       </p>
      </div>

     </div>
     <!--/parent clearfix-->
    </div>
    <!--/boxBody-->
   </div>
   <!--/4-->



   <div id="05" class="tab">
    <div class="boxBody">
     <div class="parent">
      <a href="/" title="close">
       <div class="RKMclose_button"></div>
      </a>

      <p class="title">Contact</p>

      <div class="lined clearfix">

       <p>
        <a href="mailto:office.landidesigns@gmail.com ">office.landidesigns@gmail.com</a>
       </p>

      </div>

      <div class="clearfix">
       <span class="grey">2017 © Landi Designs<br />
         photos: Agus Pande, <a href="http://roccomarosi.com">Rocco Marosi</a><br />
         <a class="rok" href="http://rokma.com/web-design/landi/">developed by Rokma</a>
       </span>
      </div>

     </div>
     <!--/parent-->
    </div>
    <!--/boxBody-->
   </div>
   <!--/5-->
  </div>
  <!--/tabwrap-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script>window.jQuery || document.write('<script src="{{site.baseurl}}/assets/j/vendor/jquery-1.9.1.min.js"><\/script>')</script>

  {% include script_plugins.html %}

  {% include script_main.html %}

  <script>$.backstretch("{{site.baseurl}}/assets/img/islander-1680-01.jpg");</script>

  {% include script_ext_link.html %}

  {% include script_google_analytics.html %}

 </body>

</html>
